// Colors
$color-primary: #a259ff;
$color-primary-dark: #7f56d9;
$color-primary-light: #c084fc;
$color-primary-hover: #5c3cb0;
$color-background-dark: #0d0d2b;
$color-background-header: rgb(9, 9, 23);
$color-white: #ffffff;
$color-gray-light: #f2f3f4;
$color-white-gray: rgb(242, 243, 244);
$color-gray: rgba(255, 255, 255, 0.65);
$color-gray-dark: #333;
$color-tag-bg: #2e2e4d;
$color-gray-black: #2e2e51;
$color-tag-text: #cfcfff;
$color-button-hover: #46466b;
$color-backdrop: rgba(0, 0, 0, 0.85);
$color-black-show: rgba(0, 0, 0, 0.2);
